extends includes/layout.pug

block content
  #page
    case page.type
      when 'tags'
        .tag-content
          .tag-lists
            .tag__title= _p('page.tag')
              |  - 
              span.tag__amount= site.tags.length
            div!= list_tags()
      when 'link'
        include includes/page/flink.pug
      when 'categories'
        include includes/page/categories.pug
      when 'artitalk'
        include includes/page/artitalk.pug
      default
        include includes/page/default-page.pug

    if page.comments !== false && theme.comments && theme.comments.use
      - var commentsJsLoad = true
      !=partial('includes/third-party/comments/index', {}, {cache:theme.fragment_cache})
